@import '../../../../styles/theme.scss';

.wrapper {
  .list-container {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    align-items: center;

    // display: flex;
    // flex-flow: column wrap;
    // max-height: 800px;
    // margin-left: -8px; /* Adjustment for the gutter */
    // width: 100%;
    // display: grid;
    // grid-gap: 10px;
    // grid-template-columns: auto auto auto;

    img {
      margin: 5px;
      transition: 0.2s opacity;
    }
    &:hover img {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
}
