@import '../../../../styles/theme.scss';

.wrapper {
  .list-container {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    // display: flex;
    // flex-flow: column wrap;
    // max-height: 800px;
    // margin-left: -8px; /* Adjustment for the gutter */
    // width: 100%;

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    // grid-auto-rows: min-content;
    // grid-gap: 10px;
    // grid-auto-flow: dense;

    // display: grid;
    // grid-gap: 10px;
    // grid-template-columns: auto auto auto;

    li {
      list-style: none;
      padding: 1em;
    }
    .grid-cell {
      $colors: red, orange, yellow, green, blue, purple, white;
      $repeat: 10;
      @for $i from 1 through $repeat {
        &:nth-child(#{length($colors)}n + #{$i}) {
          @keyframes changeColor#{$i} {
            50% {
              background-color: lighten(
                nth($colors, random(length($colors))),
                20%
              );
            }
          }
          background: lighten(nth($colors, random(length($colors))), 20%);
          animation: changeColor#{$i} 2s forwards 2;
          transition: background-color ease 1s;
        }
      }
      margin: 10px;
      img,
      picture,
      source {
        display: flex;
        pointer-events: none;
        @media (min-width: $media-desktop) {
          img {
            // width: 30%;
          }
        }
      }
    }
  }
}
